# **QNO:01**

In [2]:
"""
Task 1: Write a function which take the radius of circle as first argument and a char (a or c) as second argument. If second argument is a then return the area of circle. If the second argument is c then return the circumference of circle.
"""
def circle(radius, char_name):
    if char_name=="a":
        return 3.14*radius**2
    elif char_name=="c":
        return 2*3.14*radius
    else:
        print("Invalid input")

char_name = input("Enter char name:")
radius = float(input("Enter Radius:"))
circle(radius, char_name)

34.194599999999994

# **QNO:02**

In [4]:
"""Task 2: Write two functions add and multiply with five arguments and default values. These functions display result."""
def add_calculator(a=6, b=5, c=12, d=2, e=10):
    return a+b+c+d+e

def mul_calculator(a=5, b=6, c=4, d=2, e=9):
    return a*b*c*d*e

print("Addition of numbers:",add_calculator())
print("Multiplication of numbers:",mul_calculator())

Addition of numbers: 35
Multiplication of numbers: 2160

# **QNO:03**

In [8]:
"""Write a program to create a function show_employee() using the following conditions.
    • It should accept the employee’s name and salary and display both.
    • If the salary is missing in the function call then assign default value 9000 to salary"""
def show_employee(name, salary=9000):
    print("Name:",name)
    print("Salary:",salary)

show_employee(name="Ehtsham")
show_employee("Ehtsham",10000)

Name: Ehtsham
Salary: 9000
Name: Ehtsham
Salary: 10000

# **QNO:04**

In [9]:
"""Write a program to create a function show_details() using the following conditions.
    • It should accept the employee’s name and salary and display both
    • If the salary is greater than 90000 then it shows the designation as Manager
    • If salary is less than 90000 then it shows the designation as Worker"""
def show_details(name, salary):
    if salary>=90000:
        print("Name:",name)
        print("Salary:",salary)
        print("Designation: Manager")
    elif salary<90000:
        print("Name:",name)
        print("Salary:",salary)
        print("Designation: Worker")

show_details("Ehtsham", 9000)

Name: Ehtsham
Salary: 9000
Designation: Worker

# **QNO:05**

In [ ]:
from turtle import Turtle,Screen
tk = Turtle()
tk.pensize(20)
tk.color("blue")
tk.circle(100)
tk.penup()
tk.forward(220)
tk.pendown()
tk.color("black")

tk.circle(100)

tk.penup()
tk.forward(220)
tk.pendown()
tk.color("red")
tk.circle(100)
tk.penup()
tk.goto(80,-110)
tk.color("yellow")

tk.pendown()
tk.circle(100)
tk.penup()
tk.forward(220)
tk.color("green")

tk.pendown()
tk.circle(100)



screen = Screen() 
screen.exitonclick()

# **QNO:06**

In [ ]:
from turtle import Turtle,Screen
tk = Turtle()

def not_filled_Shaped():
    tk.color("red")
    tk.penup()
    tk.goto(-200,-50)
    tk.pendown()
    tk.circle(40,steps=3)

    tk.penup()
    tk.goto(-100,-50)
    tk.pendown()
    tk.circle(40,steps=4)

    tk.penup()
    tk.goto(0,-50)
    tk.pendown()
    tk.circle(40,steps=5)

    tk.penup()
    tk.goto(100,-50)
    tk.pendown()
    tk.circle(40,steps=8)
def filled_shape():
    tk.color("red")
    tk.penup()
    tk.goto(-200,-50)
    tk.pendown()
    tk.begin_fill()
    tk.circle(40,steps=3)
    tk.end_fill()

    tk.penup()
    tk.goto(-100,-50)
    tk.begin_fill()
    tk.pendown()
    tk.circle(40,steps=4)
    tk.end_fill()

    tk.penup()
    tk.goto(0,-50)
    tk.begin_fill()
    tk.pendown()
    tk.circle(40,steps=5)
    tk.end_fill()


    tk.penup()
    tk.goto(100,-50)
    tk.begin_fill()
    tk.pendown()
    tk.circle(40,steps=8)
    tk.end_fill()
    

filled_shape()
# not_filled_Shaped()
screen = Screen() 
screen.exitonclick()

# **QNO:07**

In [ ]:
from turtle import Turtle,Screen
tk = Turtle()
center_circle = eval(input("Enter the  center points of circle:"))
radius = int(input("Enter the radius:"))

tk.color("red")
tk.penup()
tk.goto(center_circle)
tk.pendown()
tk.circle(radius)



screen = Screen() 
screen.exitonclick()

# **QNO:08**

In [ ]:
from turtle import Turtle,Screen
tk = Turtle()
import random
screen = Screen()

tk.penup()
tk.goto(-60,60)
tk.pendown()
for _ in range(4):
    tk.forward(120)
    tk.right(90)

for _ in range(20):
    x_pos = random.randint(-60,60)
    y_pos = random.randint(-50,50)
    tk.penup()
    tk.goto(x_pos,y_pos)
    tk.pendown()
    tk.dot(10)



screen.exitonclick()

# **QNO:10**

In [20]:
"""
*
* *
* * *
* * * *
* * * * *    
* * * *
* * *
* *
*
------------
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
"""
def pattern():
    for i in range(6):
        print("*"*i)
    for j in range(6,0,-1):
        print("*"*j)
def couting_pattern():
    for i in range(5,0,-1):
        for j in range(i,0,-1):
            print(j,end="")
        print()
def pattern2():
    for i in range(1,6):
        for j in range(1,i+1):
            print(j,end="")
        print()
print("----------------------")
pattern()
print("----------------------")
couting_pattern()
print("----------------------")
pattern2()

----------------------

*
**
***
****
*****
******
*****
****
***
**
*
----------------------
54321
4321
321
21
1
----------------------
1
12
123
1234
12345

# **QNO:11**

In [22]:
"""Task 11: Print First 10 natural numbers using while loop."""
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# **QNO:12**

In [ ]:
"""Task 12: Display Fibonacci series up to 10 terms."""
def fib(num):
    a,b=0,1
    for i in range(num):
        print(a)
        a,b=b,a+b
fib(10)

# **QNO:13**

In [28]:
"""Task 13: Find the factorial of a number inputted by user."""
def factorial(num):
    fact = 1
    for i in range(1,num+1):
        fact = fact*i
    return fact
num=int(input("Enter a number:"))
print("The factorial of number is :",factorial(num))

The factorial of number is : 120

# **QNO:14**

In [29]:
"""Task 14: Find the sum of the series up to term inputted by user."""
def sum_series(num):
    sum = 0
    for i in range(1,num+1):
        sum = sum+i
    return sum
num=int(input("Enter a number:"))
print("The sum of series is :",sum_series(num))

The sum of series is : 15

# **QNO:15**

In [34]:
"""Task 15: Input a number and check whether it is prime or not."""
def is_prime(num):
    for i in range(2,num):
        if num%i==0:
            return False
    return True
num=int(input("Enter a number:"))
if is_prime(num):
    print(num,"is a prime number")
else:
    print(num,"is not a prime number")

123 is not a prime number

# **QNO:16**

In [40]:
"""Task 16: Ask user to enter a 5-digit integer number and display this number in reverse using loop"""
num=int(input("Enter a number:"))
while num>0:
    print(num%10,end="")
    num=num//10

54321

# **QNO:19**

In [2]:
table = int(input("Enter a Table:"))
upper_limit = int(input("Enter upper limit:"))

for _ in range(1,upper_limit+1):
    print(f"{table}*{_}={table*_}")

7*0=0
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

# **QNO:22**

In [65]:
"""Declare a 0-dimension,1-dimension,2-dimension,3-dimension,5-dimension array and print it."""
import numpy as np
zero_dim_array = np.array([])
one_dim_array = np.array([1,2,3,4,5],dtype=np.uint8)
two_dim_array = np.array([[1,2,3],[4,5,6],[7,8,9]],dtype=np.uint8)
three_dim_array = np.array([[[1,2,3],[4,5,6]],[[1,2,3],[1,2,3]]],dtype=np.uint8)
five_dim_array=np.array([[[[[[1,2,3]]]]]])
print(zero_dim_array.shape)
print(one_dim_array.shape)
print(three_dim_array.shape)
print(five_dim_array.shape)

(0,)
(5,)
(2, 2, 3)
(1, 1, 1, 1, 1, 3)

In [66]:
fruits_list = np.array(['apple','banana','cherry'])
for i in fruits_list:
    print(i)

apple
banana
cherry

In [51]:
print("Largest element in array:",one_dim_array.max())

Largest element in array: 5

In [58]:
sum_of_array = np.sum(two_dim_array)
print("Sum of 2D array",sum_of_array)

Sum of 2D array 45

In [63]:
"""Replace all odd numbers in array [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] with -1 without changing array."""
my_array = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
my_array_copy = my_array.copy()

my_array_copy[my_array_copy%2!=0]=-1

print("Origanal array:",my_array)
print("ReplacedARray",my_array_copy)

Origanal array: [0 1 2 3 4 5 6 7 8 9]
ReplacedARray [ 0 -1  2 -1  4 -1  6 -1  8 -1]

# **QNO:27**

In [67]:
"""Task 27: Create a class BOOK with properties ISBN, Title, Price, Main Area, Sub Area, No of Pages. Constructors initialize these properties and show function display properties of and object. Call functions using object."""
class Book:
    def __init__(self,isbn,title,price,main_area,sub_area,no_of_pages):
        self.isbn=isbn
        self.title=title
        self.price=price
        self.main_area=main_area
        self.sub_area=sub_area
        self.no_of_pages=no_of_pages
    def display(self):
        print("ISBN:",self.isbn)
        print("Title:",self.title)
        print("Price:",self.price)
        print("Main Area:",self.main_area)
        print("Sub Area:",self.sub_area)
        print("No of Pages:",self.no_of_pages)
book = Book(123,"Mybook",200,"Lahore","NTU",300)
book.display()

ISBN: 123
Title: Mybook
Price: 200
Main Area: Lahore
Sub Area: NTU
No of Pages: 300

In [69]:
"""Write a Python class named Student with two attributes: student_id, student_name. Add a new attribute: student_class. Create a function to display all attributes and their values in the student class."""
class Student:
    def __init__(self, student_id, student_name):
        self.student_id = student_id
        self.student_name = student_name
        self.student_class = None

    def display_student_info(self):
        print("Student ID:", self.student_id)
        print("Student Name:", self.student_name)
        print("Student Class:", self.student_class)

student1 = Student(1217, "Ehtsham")

student1.student_class = "BSCS"

student1.display_student_info()

Student ID: 1217
Student Name: Ehtsham
Student Class: BSCS