# **QNO:01**

In [3]:
"""
Task 1: Ask the user to enter a value in miles 
and convert it in kilo meters (1 kilometer=0.6213 Mile).
"""
miles_input = float(input("Enter miles:"))
kilometers = miles_input *(1/ 0.6213)
print("Total kilomters are:\t",kilometers)

Enter miles: 4

Total kilomters are:	 6.438113632705617

# **QNO:02**

In [1]:
"""
Task 2: Given an equation y=ax3+ax2+x-7.
Input the values of a and x from user and
display the value of y on screen.
"""
# y = ax^3+ax^2+x-7
a = int(input("Enter the value of a"))
x = int(input("Enter the value of x"))

y = a*x**3+a*x**2+x-7
print("The value of y is : ",y)

Enter the value of a 2
Enter the value of x 2

The value of y is :  19

# **QNO:03**

In [4]:
"""
Task 3: Write a program that reads a Celsius degree
from the console and converts it to Fahrenheit and displays the result.
"""
celsius_temp = float(input("Enter temp in celsius:"))
fahrenheit = (9/5 * celsius_temp ) + 32
print("Fahrenheit temperature is: ",fahrenheit)

Enter temp in celsius: 35.5

Fahrenheit temperature is:  95.9

# **QNO:04**

In [5]:
"""
Task 4: Write a program that reads in the radius and length of a cylinder
and computes the area and volume.
( area = radius * radius * π )	( volume = area * length )
"""
import math
radius = float(input("Enter radius:"))
length = float(input("Enter length of cylinder:"))

area = (radius*radius *math.pi)
volume = area*length
print("Area of cylinder:",area)
print("Volume of cylinder:",volume)

Enter radius: 4
Enter length of cylinder: 5

Area of cylinder: 50.26548245743669
Volume of cylinder: 251.32741228718345

# **QNO:05**

In [7]:
"""
Output the value of X using the below given equation.
Input the value of n from user.
"""
n = float(input("Enter the value of n:"))
X = (n+math.sqrt(n*n+8))**(1/3)

print("The value of X is:",X)

Enter the value of n: 2

The value of X is: 1.7613253635096753

# **QNO:06**

In [10]:
"""
Task 6: Input the values of a, b, c and d. 
Verify that the inputted values satisfy the 
below given equation or not. a/b+c/d = ad+bc/bd
"""
a = float(input("Enter the value of a:"))
b = float(input("Enter the value of b:"))
c = float(input("Enter the value of c:"))
d = float(input("Enter the value of d:"))

left_side = a/b+c/d
right_side = (a*d+b*c)/(b*d)
print("Left side:",left_side)
print("Right Side:",right_side)

Enter the value of a: 2
Enter the value of b: 2
Enter the value of c: 2
Enter the value of d: 2

Left side: 2.0
Right Side: 2.0

# **QNO:07**

In [17]:
"""
Task 7: Output the value of ‘x’ 
using the below given equation. 
Analyze and input the values to be inputted.
-b+sqrt(b^2-4ac)/2a
"""
a = float(input("Enter the value of a:"))
b = float(input("Enter the value of b:"))
c = float(input("Enter the value of c:"))
desc = (b**2 - 4*a*c)
if desc>=0:
    x = (-b + math.sqrt(desc)) / (2*a)
    print("The value of x is :",x)
else:
    print("This root has not real value")

Enter the value of a: 2
Enter the value of b: 10
Enter the value of c: 2

The value of x is : -0.20871215252208009

# **QNO:08**

In [20]:
# SELECTIVE STATEMENTS
marks = float(input("Enter your marks:"))

if marks>=90:
    print("Grade A+")
elif marks>=85 and marks<=89.9:
    print("Grade A")
elif marks>=80 and marks<=84.9:
    print("Grade A-")
elif marks>=80 and marks<=84.9:
    print("Grade B+")
elif marks>=80 and marks<=84.9:
    print("Grade B")
elif marks>=75 and marks<=79.9:
    print("Grade B-")
elif marks>=70 and marks<=74.9:
    print("Grade C+")
elif marks>=65 and marks<=69.9:
    print("Grade C")
elif marks>=60 and marks<=64.9:
    print("Grade C-")
elif marks>=55 and marks<=59.9:
    print("Grade D+")
elif marks>=50 and marks<=54.9:
    print("Grade D")
else:
    print("Grade F")

Enter your marks: 68.8

Grade C

# **QNO:09**

In [21]:
"""
Task 9: User will enter his weight in Kilograms and height 
in meters (1 M=3.23 Feet). Calculate the BMI of the user and display following: 
• Display “You are Underweight” if BMI is less than 18.5 
• Display “You are Normal” if BMI is between 8.5 and 24.9 
• Display “You are Overweight” if BMI is between 25 and 29.9 
• Display “You are Obese” if BMI is greater than 30
BMI = WeightInKilograms / (heightInMeters2)
"""
heights = float(input("Enter height in meters:"))
weight = float(input("Enter weights in kg:"))
BMI = weight/heights**2
print("Your BMI is :",BMI)

Enter height in meters: 1.89
Enter weights in kg: 75

Your BMI is : 20.99605274208449

# **QNO:10**

In [22]:
"""
Task 10: Write a program to display "NTU" if a number entered
by user is a multiple of five , 
otherwise print "DCS".
"""
number = int(input("Enter a number:"))
if number%5==0:
    print("NTU")
else:
    print("DCS")

Enter a number: 33

DCS

# **QNO:11**

In [28]:
"""
Task 11: Write a program to check whether the last digit of a number
(entered by user) is 
divisible by 3 or not.
"""
number = int(input("Enter a number:"))
last_number = number%10
if last_number%3==0:
    print("Divisble by 3")
else:
    print("Not divisble")

Enter a number: 55

Not divisble

# **QNO:12**

In [29]:
"""
Task 12: Implement a currency converter which ask the user
to enter value in Pak Rupees and convert in following: 
"""
pak_currency = float(input("Enter pakistani currency"))
aus_dollor = pak_currency*(1/102.6)
china_yuan = pak_currency*(1/22)
euro = pak_currency*(1/168.15)
qatri_riyal = pak_currency*(1/42.2)
saudi_riyal = pak_currency*(1/40.95)
uae_dirham = pak_currency*(1/41.95)
uk_pound = pak_currency*(1/198.15)
us_dollor = pak_currency*(1/154)

print("pak currency:",pak_currency)
print("Aus dollor:",aus_dollor)
print("China Yuan:",china_yuan)
print("Euro:",euro)
print("Qatri Riyal:",qatri_riyal)
print("Saudi Riyal:",saudi_riyal)
print("UAE dirham:",uae_dirham)
print("UK pound:",uk_pound)
print("US Dollor:",us_dollor)

Enter pakistani currency 50000

pak currency: 50000.0
Aus dollor: 487.3294346978558
China Yuan: 2272.727272727273
Euro: 297.3535533749628
Qatri Riyal: 1184.8341232227488
Saudi Riyal: 1221.001221001221
UAE dirham: 1191.8951132300358
UK pound: 252.33409033560434
pak currency: 324.6753246753247